.teams-container {
  height: 418px;
  border: 1px solid #9e9a9a;
  border-radius: 10px;
  box-shadow: 10px 10px 5px #333131;
  background-color: #F5F8FA;
  opacity: 0.9;
  filter: alpha(opacity=30);
}

.teams-list {
  margin: 30px 40px;
  padding-left: 25px;
}

.page-header.teams {
  margin-top: 10px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 20px;
  color: #000;
  border-bottom: 1px solid #e9e8e8;
}

h2 {
  color: #000;
}
hr {
  border-top: 1px solid #e9e8e8;
}

.teams-col {
  padding-top: 50px;
  margin-left: 13%
}

// Teams //

a.btn.btn-success.btn-md {
  background-color: #106758;
}

a.btn.btn-success.btn-md:hover {
  background-color: #278265;
}

// My Teams //

h2.my-teams-link a {
  color: #020224;
  text-decoration: none;
}

h2.my-teams-link a:hover {
  color: #000;
  font-weight: bold;
}

.user-count {
  font-weight: bold;
}
