.teams-directory-container {
  border: 1px solid #9e9a9a;
  border-radius: 10px;
  box-shadow: 10px 10px 5px #393737;
  background-color: #B2B2B2;
  opacity: 0.9;
  filter: alpha(opacity=30);
}

.teams-list {
  margin: 50px 50px;
  padding-left: 25px;
}
