<div class="row">
  <div class="col-md-9 col-md-offest-2 channel-messages-col">
    <div class="channel-messages">
      <center>
        <h1 class="page-header">
          Team: <%= link_to @team.name, team_path(@team) %>
        </h1>
      </center>

      <p><%= @channel.name %></p>
      <p><%= @channel.description %></p>

      <div class="messages">
        <h4>Messages</h4>
      </div>
      <%= react_component 'MessagesContainer', { channelId: @channel.id } %>
    </div>
  </div>
</div>
