<style>
  body {
    background: url("/slack_welcome.png") center fixed;
    -webkit-backgroud-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
</style>

<div class="welcome">
  <h1>Welcome#index</h1>
  <p>Find me in app/views/welcome/index.html.erb</p>
</div>
