<style>
  .welcome {
    color: #ddd;
    text-shadow:
    -1px -1px 0 #4f4d4d,
    1px -1px 0 #4f4d4d,
    -1px 1px 0 #4f4d4d,
    1px 1px 0 #4f4d4d;
  }
  h1 {
    font-size: 85px;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 0px;
  }

  p.welcome-p {
    color: #ddd;
    font-size: 20px;
  margin-left: 5px;
  margin-bottom: 0px;
  }
</style>

<div class="welcome">
  <h1>Slack</h1>
  <p class="welcome-p">Get involved and stay connected.</p>
</div>
