// Sidebar //

#sidebar-wrapper {
  z-index: 1;
  position: absolute;
  width: 0;
  height: 100%;
  overflow-y: hidden;
  background: #2c3e50;
}

// Main Content //

#page-content-wrapper {
  width: 100%;
  position: absolute;
  padding: 15px;
}

// Change Width Of Sidebar To Display //

#wrapper.menuDisplayed #sidebar-wrapper {
  width: 250px;
}

#wrapper.menuDisplayed #page-content-wrapper {
  padding-left: 250px;
}

// Sidebar Styling //
.sidebar-nav {
  padding: 0;
  list-style: none;
}

.sidebar-nav li {
  text-indent: 20px;
  line-height: 40px;
}

.sidebar-nav li a {
  display: block;
  text-decoration: none;
  color: #ddd;
}

.sidebar-nav li a:hover {
  background: #16a085;
  color: #fff;
  font-weight: bold;
}

li h4 {
  display: block;
  text-decoration: none;
  color: #fff;
}

// User Nav //
div.user-nav {
  display: block;
  border-bottom: 1px solid #fff;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 40px;
  margin-bottom: 20px;
  background-color: #F5F8FA;
  border-right: 1px solid #ddd;
}

div.user-nav img {
  -webkit-transition: opacity 0.2s, -webkit-transform 0.2s;
  transition: opacity 0.2s, -webkit-transform 0.2s;
  transition: transform 0.2s, opacity 0.2s;
  transition: transform 0.2s, opacity 0.2s, -webkit-transform 0.2s;

}
div.user-nav img:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

li.logout {
  margin-top: 20px;
}

li.logout a:hover {
  background: red;
  color: #fff;
  font-weight: bold;
}

li.teams {
  margin-top: 20px;
}
// Guest Header //
div.guest-nav {
  display: block;
  border-bottom: 1px solid #fff;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 40px;
  margin-bottom: 20px;
  background-color: #fff;
}
