// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.login-form {
  background-color: #F5F8FA;
  margin-top: 80px;
  margin-bottom: 80px;
  margin-left: 0px;
  margin-right: 50px;
  padding: 50px 15px;
  width: 100%;
  height: 100%;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 10px 10px 5px #888888;
}

.form-horizontal {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 40px;
}
