.signup {
  padding-top: 30px;
  margin-left: 159px;
  color: #000;
}
.signup-form {
  background-color: #F5F8FA;
  opacity: 0.9;
  filter: alpha(opacity=30);
  margin-top: 25px;
  margin-bottom: 40px;
  margin-left: 8px;
  margin-right: 50px;
  padding-top: 5px;
  padding-bottom: 50px;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
  height: 100%;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 10px 10px 5px #333131;
}

.page-header {
  margin-bottom: 40px;
  border-bottom: 1px solid #e9e8e8;
}

input.btn.btn-success.btn-md {
  background-color: #278265;
}

input.btn.btn-success.btn-md:hover {
  background-color: #106758;
}
